[submodule "third_party/fmdb"]
	path = third_party/fmdb
	url = https://github.com/ccgus/fmdb
[submodule "third_party/KVOController"]
	path = third_party/KVOController
	url = https://github.com/facebook/KVOController.git
